Repository dotnet/project-system, pull requests merged in 2022-02, with the labels that each got.

#7876 Revert "Don't track context changes"
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/LanguageServices/WorkspaceProjectContextHost.WorkspaceProjectContextHostInstance.cs
  tests/Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests/ProjectSystem/LanguageServices/WorkspaceProjectContextHostInstanceTests.cs
Labels: Feature-Language-Service

#7889 Fix broken source item reporting
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/LanguageServices/ApplyChangesToWorkspaceContext.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/LanguageServices/WorkspaceProjectContextHost.WorkspaceProjectContextHostInstance.cs
  tests/Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests/Mocks/ISourceItemsHandlerFactory.cs
  tests/Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests/ProjectSystem/LanguageServices/ApplyChangesToWorkspaceContextTests.cs
  tests/Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests/ProjectSystem/LanguageServices/WorkspaceProjectContextHostInstanceTests.cs
Labels: Feature-Language-Service

#7885 Add accessible name to Suppress warnings textbox.
  src/Microsoft.VisualStudio.Editors/PropPages/BuildPropPage.resx
  src/Microsoft.VisualStudio.Editors/PropPages/xlf/BuildPropPage.cs.xlf
  src/Microsoft.VisualStudio.Editors/PropPages/xlf/BuildPropPage.de.xlf
  src/Microsoft.VisualStudio.Editors/PropPages/xlf/BuildPropPage.es.xlf
  src/Microsoft.VisualStudio.Editors/PropPages/xlf/BuildPropPage.fr.xlf
  src/Microsoft.VisualStudio.Editors/PropPages/xlf/BuildPropPage.it.xlf
  src/Microsoft.VisualStudio.Editors/PropPages/xlf/BuildPropPage.ja.xlf
  src/Microsoft.VisualStudio.Editors/PropPages/xlf/BuildPropPage.ko.xlf
  src/Microsoft.VisualStudio.Editors/PropPages/xlf/BuildPropPage.pl.xlf
  src/Microsoft.VisualStudio.Editors/PropPages/xlf/BuildPropPage.pt-BR.xlf
  src/Microsoft.VisualStudio.Editors/PropPages/xlf/BuildPropPage.ru.xlf
  src/Microsoft.VisualStudio.Editors/PropPages/xlf/BuildPropPage.tr.xlf
  src/Microsoft.VisualStudio.Editors/PropPages/xlf/BuildPropPage.zh-Hans.xlf
  src/Microsoft.VisualStudio.Editors/PropPages/xlf/BuildPropPage.zh-Hant.xlf
Labels: Tenet-User Friendly, Feature-Legacy-Application-Designer

#7908 Run operation directly off the UI thread
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Build/Diagnostics/IncrementalBuildFailureDetector.ProjectChecker.cs
Labels: Tenet-Performance, Feature-Up-to-date, Performance-Scenario-General

#7896 Add ActiveDebugProfile to properties accessible to CPS
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/GeneralBrowseObject.xaml
Labels: Blocked

#7923 Don't block thread pool threads during file IO
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/UpToDate/UpToDateCheckStatePersistence.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/IUpToDateCheckStatePersistence.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/UpToDateCheckImplicitConfiguredInputDataSource.cs
Labels: Tenet-Performance, Feature-Up-to-date, Performance-Scenario-Solution-Open, Performance-Scenario-Solution-Close

#7909 Don't check configurations we aren't building
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/BuildUpToDateCheck.Subscription.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/BuildUpToDateCheck.cs
  tests/Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests/ProjectSystem/UpToDate/BuildUpToDateCheckTests.cs
Labels: Feature-Up-to-date, auto-merge

#7930 Improve solution close performance
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/UpToDate/UpToDateCheckStatePersistence.cs
Labels: Tenet-Performance, Feature-Up-to-date, Performance-Scenario-Solution-Close

#7927 Small bits pulled from larger work
  src/Microsoft.VisualStudio.ProjectSystem.Managed/IO/IFileSystem.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/DesignTimeTargets/Microsoft.Managed.DesignTime.targets
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/BuildUpToDateCheck.Log.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/BuildUpToDateCheck.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/UpToDateCheckImplicitConfiguredInput.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/Resources.Designer.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/Resources.resx
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.cs.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.de.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.es.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.fr.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.it.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.ja.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.ko.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.pl.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.pt-BR.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.ru.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.tr.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.zh-Hans.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.zh-Hant.xlf
Labels: Feature-Up-to-date

#7937 Make TargetPlatformIdentifier available to visibility conditions for MAUI
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/ConfigurationGeneralPage.xaml
Labels: Feature-Project-Properties-Designer

#7940 Update visibility condition documentation
  docs/repo/property-pages/visibility-conditions.md
Labels: auto-merge, Feature-Project-Properties-Designer
