Repository dotnet/project-system, pull requests merged in 2023-07, with the labels that each got.

#9109 Add file modification warning to change accessibility combobox in legacy resx editor
  src/Microsoft.VisualStudio.Editors/DesignerFramework/AccessModifierComboBox.vb
Labels: Feature-Resource-Designer

#9165 Update branch-checklist.md
  .github/ISSUE_TEMPLATE/branch-checklist.md
Labels: Area-Infrastructure

#9161 Avoid bug during FUTDC validation after solution build completes
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/BuildUpToDateCheck.cs
Labels: Bug, Regression, Feature-Up-to-date

#9171 [17.7] Avoid bug during FUTDC validation after solution build completes
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/BuildUpToDateCheck.cs
Labels: Bug, Regression, Feature-Up-to-date

#9170 Use SequenceEqual to compare byte arrays
  src/Microsoft.VisualStudio.ProjectSystem.Managed/Text/IncrementalHasher.cs
Labels: Tenet-Performance

#9174 Check if a custom namespace has been specified when generating the Settings designer class.
  src/Microsoft.VisualStudio.Editors/SettingsDesigner/SettingsSingleFileGeneratorBase.vb
Labels: Bug, Feature-Settings-Designer

#9181 Allow enabling Build Acceleration via a feature flag
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/FeatureFlagNames.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/ProjectSystemOptions.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/IProjectSystemOptions.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/BuildUpToDateCheck.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/Resources.Designer.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/Resources.resx
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.cs.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.de.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.es.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.fr.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.it.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.ja.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.ko.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.pl.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.pt-BR.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.ru.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.tr.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.zh-Hans.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.zh-Hant.xlf
  tests/Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests/ProjectSystem/UpToDate/BuildUpToDateCheckTests.cs
Labels: Tenet-Performance, Feature-Up-to-date, Performance-Scenario-Build, Feature-Build-Acceleration

#9182 Fix application of build data item changes to dependency tree
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Tree/Dependencies/Snapshot/DependencyExtensions.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Tree/Dependencies/Subscriptions/MSBuildDependencies/MSBuildDependencyCollection.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Tree/Dependencies/Subscriptions/MSBuildDependencies/MSBuildDependencyFactoryBase.cs
  tests/Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests/ProjectSystem/Tree/Dependencies/Subscriptions/MSBuildDependencies/MSBuildDependencyCollectionTests.cs
Labels: Bug, Feature-Dependency-Node

#9185 Fix CodeQL in build
  eng/pipelines/official.yml
Labels: Area-Infrastructure

#9139 Introduce Native AOT properties.
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Properties/InterceptedProjectProperties/BuildPropertyPage/TrimmingEnumProvider.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Properties/StartupObjectsEnumProvider.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Properties/VisualBasic/SplashScreenEnumProvider.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/DesignTimeTargets/Microsoft.Managed.DesignTime.targets
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/BuildPropertyPage.xaml
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.xaml.cs.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.xaml.de.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.xaml.es.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.xaml.fr.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.xaml.it.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.xaml.ja.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.xaml.ko.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.xaml.pl.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.xaml.pt-BR.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.xaml.ru.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.xaml.tr.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.xaml.zh-Hans.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.xaml.zh-Hant.xlf
Labels: Feature-Project-Properties-Designer

#9192 Use correct constant for metadata name
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/UpToDateCheckImplicitConfiguredInput.cs
Labels: Feature-Up-to-date

#9191 Add more information about FUTDC inputs/outputs to docs
  docs/repo/up-to-date-check-implementation.md
  docs/up-to-date-check.md
Labels: Feature-Up-to-date, Documentation

#9194 FUTDC avoids checking the same file twice
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/BuildUpToDateCheck.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/UpToDateCheckImplicitConfiguredInput.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/Resources.Designer.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/Resources.resx
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.cs.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.de.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.es.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.fr.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.it.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.ja.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.ko.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.pl.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.pt-BR.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.ru.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.tr.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.zh-Hans.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.zh-Hant.xlf
  tests/Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests/ProjectSystem/UpToDate/BuildUpToDateCheckTests.cs
Labels: Tenet-Performance, Feature-Up-to-date, Performance-Scenario-Build

#9200 Add DisposableBag unit tests
  tests/Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests/ProjectSystem/Utilities/DisposableBagTests.cs
Labels: Area-Testing

#9205 Retain reference to exception that faults block
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/GlobalSuppressions.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/LanguageServices/Workspace.cs
Labels: Feature-Language-Service

#9202 Avoid ObjectDisposedException in language service
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/LanguageServices/Workspace.cs
  tests/Microsoft.VisualStudio.ProjectSystem.Managed.VS.UnitTests/ProjectSystem/VS/LanguageServices/WorkspaceTests.cs
Labels: Bug, Feature-Language-Service

#9203 Don't hang when update handling throws, and report NFE
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/LanguageServices/LanguageServiceHost.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/LanguageServices/WorkspaceFactory.cs
Labels: Feature-Language-Service

#9201 Fix invalid nameFormat patterns
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/LanguageServices/LanguageServiceHost.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/LanguageServices/WorkspaceFactory.cs
Labels: Feature-Language-Service
