Repository dotnet/project-system, pull requests merged in 2023-09, with the labels that each got.

#9254 Simplify VsSafeProjectGuidService
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/VsSafeProjectGuidService.cs
  tests/Microsoft.VisualStudio.ProjectSystem.Managed.VS.UnitTests/ProjectSystem/VS/VsSafeProjectGuidServiceTests.cs
Labels: Tenet-Performance, Performance-Scenario-General

#9257 Allow opting out of package-based Build Acceleration disablement
  docs/build-acceleration.md
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/DesignTimeTargets/Microsoft.Managed.DesignTime.targets
Labels: Feature-Build-Acceleration

#9258 Disable Build Acceleration for Slow Cheetah
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/DesignTimeTargets/Microsoft.Managed.DesignTime.targets
Labels: Feature-Up-to-date, Feature-Build-Acceleration

#9255 In-Product Acquisition performance and correctness
  docs/in-product-acquisition.md
  spelling.dic
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/GlobalSuppressions.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/Microsoft.VisualStudio.ProjectSystem.Managed.VS.csproj
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Acquisition/MissingSetupComponentRegistrationService.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Acquisition/NetCoreRuntimeVersionsRegistryReader.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Runtimes/MissingSdkRuntimeDetector.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Setup/ConfiguredSetupComponentSnapshot.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Setup/ISetupComponentRegistrationService.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Setup/NetCoreRuntimeVersionsRegistryReader.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Setup/SetupComponentProvider.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Setup/SetupComponentReferenceData.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Setup/SetupComponentRegistrationService.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Setup/UnconfiguredSetupComponentSnapshot.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Workloads/MissingWorkloadDetector.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Workloads/WebMissingWorkloadDetector.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/Shell/Interop/IVsShellUtilitiesHelper.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/Shell/Interop/VsShellUtilitiesHelper.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/Collections/ImmutableStringHashSet.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/Microsoft.VisualStudio.ProjectSystem.Managed.csproj
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/IMissingSetupComponentRegistrationService.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/ProjectCapability.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Workloads/IWebWorkloadDescriptorDataSource.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Workloads/IWorkloadDescriptorDataSource.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Workloads/WebWorkloadDescriptorDataSource.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Workloads/WorkloadDescriptor.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Workloads/WorkloadDescriptorDataSource.cs
Labels: Tenet-Performance, Feature-Acquisition, Performance-Scenario-Solution-Open

#9107 Add missing image monikers
  Directory.Packages.props
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/KnownProjectImageMonikers.cs
Labels: Feature-Dependency-Node

#9260 Avoid delegate and closure allocation
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Tree/Dependencies/Subscriptions/DependenciesSnapshotProvider.cs
Labels: Feature-Dependency-Node

#9263 MEF component will never be null
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/UpToDate/IUpToDateCheckStatePersistence.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/UpToDate/UpToDateCheckImplicitConfiguredInputDataSource.cs
Labels: Feature-Up-to-date

#9265 Fix Resource Designer For Async Open
  src/Microsoft.VisualStudio.Editors/DesignerFramework/BaseDesignerLoader.vb
  src/Microsoft.VisualStudio.Editors/DesignerFramework/DesignerWindowPaneProviderBase.vb
  src/Microsoft.VisualStudio.Editors/ResourceEditor/ResourceEditorDesignerLoader.vb
  src/Microsoft.VisualStudio.Editors/ResourceEditor/ResourceEditorRootDesigner.vb
Labels: Feature-Resource-Designer
