Repository dotnet/project-system, pull requests merged in 2023-08, with the labels that each got.

#9214 Disable Build Acceleration for known incompatible packages
  docs/build-acceleration.md
  src/Microsoft.VisualStudio.ProjectSystem.Managed/Microsoft.VisualStudio.ProjectSystem.Managed.csproj
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/DesignTimeTargets/Microsoft.Managed.DesignTime.targets
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/BuildAccelerationIncompatiblePackage.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/BuildAccelerationIncompatiblePackage.xaml
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/RuleExporter.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/BuildUpToDateCheck.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/UpToDateCheckImplicitConfiguredInput.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/UpToDateCheckImplicitConfiguredInputDataSource.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/Resources.Designer.cs
  src/Microsoft.VisualStudio.ProjectSystem.Managed/Resources.resx
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.cs.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.de.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.es.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.fr.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.it.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.ja.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.ko.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.pl.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.pt-BR.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.ru.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.tr.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.zh-Hans.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/xlf/Resources.zh-Hant.xlf
  tests/Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests/ProjectSystem/UpToDate/BuildUpToDateCheckTests.cs
Labels: Feature-Build-Acceleration

#9184 Replace keyword translations in four properties:
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/BuildPropertyPage.VisualBasic.xaml
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.VisualBasic.xaml.cs.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.VisualBasic.xaml.de.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.VisualBasic.xaml.es.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.VisualBasic.xaml.fr.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.VisualBasic.xaml.it.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.VisualBasic.xaml.ja.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.VisualBasic.xaml.ko.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.VisualBasic.xaml.pl.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.VisualBasic.xaml.pt-BR.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.VisualBasic.xaml.ru.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.VisualBasic.xaml.tr.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.VisualBasic.xaml.zh-Hans.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.VisualBasic.xaml.zh-Hant.xlf
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/cs/BuildPropertyPage.VisualBasic.xaml.xlf.lcl
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/de/BuildPropertyPage.VisualBasic.xaml.xlf.lcl
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/es/BuildPropertyPage.VisualBasic.xaml.xlf.lcl
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/fr/BuildPropertyPage.VisualBasic.xaml.xlf.lcl
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/it/BuildPropertyPage.VisualBasic.xaml.xlf.lcl
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/ja/BuildPropertyPage.VisualBasic.xaml.xlf.lcl
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/ko/BuildPropertyPage.VisualBasic.xaml.xlf.lcl
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/pl/BuildPropertyPage.VisualBasic.xaml.xlf.lcl
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/pt-BR/BuildPropertyPage.VisualBasic.xaml.xlf.lcl
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/ru/BuildPropertyPage.VisualBasic.xaml.xlf.lcl
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/tr/BuildPropertyPage.VisualBasic.xaml.xlf.lcl
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/zh-Hans/BuildPropertyPage.VisualBasic.xaml.xlf.lcl
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/zh-Hant/BuildPropertyPage.VisualBasic.xaml.xlf.lcl
Labels: Tenet-Localization

#9218 Fix KeyNotFoundException in enum provider
  src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Frameworks/SupportedTargetFrameworksEnumProvider.cs
Labels: Feature-Rules/Properties, Feature-Project-Properties-Designer

#9217 Avoid NFE when ConfigurationGeneral rule is modified to remove expected property
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate/UpToDateCheckImplicitConfiguredInput.cs
Labels: Feature-Up-to-date

#9219 Prevent NFE when primary slice unknown
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Tree/Dependencies/Subscriptions/DependenciesSnapshotProvider.cs
Labels: Feature-Dependency-Node

#9228 Fix empty dependency group node for external dependencies
  src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Tree/Dependencies/Legacy/LegacyDependencySubscriber.cs
Labels: Feature-Dependency-Node

#9236 Cache repo root path
  tests/Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests/Utilities/RepoUtil.cs
Labels: Area-Testing, Tenet-Performance
